<% donutCoverClass = locals.large ? 'donut-cover-large' : '' %>

<% donutGridClass = locals.large ? 'donut-grid-large' : '' %>



<div class="donut-grid">

  <% donuts.forEach(donut => { %>
      <a href="/donuts/<%= donut.id %>">
        <img
        src="<%= donut.coverImagePath %>" alt="">
        <div class="donut-title">
          <h6><%= donut.title %></h6>
          <p><%= donut.description %></p>
        </div>
        </a>
      <%})%>

</div>
