@import 'shared/variables.css';
@import 'shared/fonts.css';
@import 'shared/header.css';
@import 'shared/buttons.css';
@import 'shared/forms.css';
@import 'shared/donuts.css';


:root {
  font-family: 'Staatliches';
  font-size: 20px;
  color: black;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: #fcf8ec;
}

/* SECTION 1 */
.navbar {
  padding: 1rem 5% 0rem 5%;
  justify-content: space-between;
  align-items: center;
  background-color: #fcf8ec;
  display: flex;
  width: 100%;
  top: 0;
  z-index: 10000;
  position: sticky;
}

.navbar-toggler {
  background-color: #fcf8ec;
}

.navbar-links ul{
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: grey;
  padding: 1rem 0rem 1rem 2rem;
  display: block;
  font-weight: 400;
  font-family: "Staatliches";
  font-size: 1.5rem;
}

.navbar-links li a:hover {
  color: black;
}


.navbar-brand {
  font-family: "Staatliches";
  font-size: 2rem;
  color: black;
  margin: 0;
}

.container {
  margin: 0 5% 3rem 5%;
  padding: 0;
}

.inner-container {
  margin: 0 2rem;
}

.error-message {
  color: hsl(var(--color-danger-hue), 100%, 50%)
}




/* LOGIN STYLING */
/* body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
} */



.logo {
  border-radius: 50%;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.signup-top {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.signup-mid {
  margin-bottom: -1px;
  border-radius: 0;
}

.signup-bot {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
